<figure class="icon-cards ">
    <div class="icon-cards__content">
        <div class="icon-cards__item d-flex align-items-center justify-content-center">
            <span class="h1"><img src="/assets/images/Linlin.jpg"></span>
        </div>
        <div class="icon-cards__item d-flex align-items-center justify-content-center">
            <span class="h1"><img src="/assets/images/Shanks.jpg"></span>
        </div>
        <div class="icon-cards__item d-flex align-items-center justify-content-center">
            <span class="h1"><img src="/assets/images/Kaido.jpg"></span>
        </div>
    </div>
</figure>

