{% block content %}
    <a class="link-header" href="/Home/index">
<div class="header-nav">
    <h1 class="title-home-page">WANTED DEAD OR ALIVE</h1>
    <img  class="logo" alt="logo" src="https://wanted-esport.fr/wp-content/uploads/2018/09/Logo-WanteD.png">
</div>
    </a>
{% endblock %}