{% block content %}
    <a class="link-header" href="/Home/index">
<div class="header-nav">
    <h1 class="title"><i class="fab fa-galactic-republic star"></i>WANTED<br>dead or alive<i class="fab fa-galactic-republic star"></i></h1>

    <img  class="logo" alt="logo" src="https://wanted-esport.fr/wp-content/uploads/2018/09/Logo-WanteD.png">
</div>
    </a>
{% endblock %}