{% block content %}
    <a class="link-header" href="/Home/index">
<div class="header-nav">
    <img  class="logo" alt="logo" src="https://wanted-esport.fr/wp-content/uploads/2018/09/Logo-WanteD.png">
    <h1 class="title"><i class="fab fa-galactic-republic star"></i>Dead or Alive<i class="fab fa-galactic-republic star"></i></h1>
</div>

    </a>
{% endblock %}