{% block content %}
    <div class="">
        <form action="/addwanted/add" method="post" class="city-form add-form">
            <h2 class="form-title2">Add a new Wanted</h2>
            <div class="form-group">
                <label for="title" class="form-texte">Name</label>
                <input type="text" name="name" id="name" placeholder="Give a Name">
            </div>
            <div class="form-group">
                <label for="description" class="form-texte">Description</label>
                <textarea name="descriptif" id="descriptif" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="promo" class="form-texte">Reward</label>
                <input type="text" name="reward" id="reward" placeholder="Give a Reward">
            </div>
            <div class="form-group">
                <label for="promo" class="form-texte">Picture</label>
                <input type="text" name="picture" id="picture" placeholder="Give a Picture">
                <button type="submit" class="btn btn-primary btn-submit"><i class="fas fa-check"></i></button>
            </div>
        </form>
    </div>
{% endblock %}