{% extends 'layout.html.twig' %}

{% block content %}


{% include 'Home/_carousel.html.twig' %}
    <div>
        <img class="barbele" src="/assets/images/barbele.png">
    </div>
    <div class="cards">
{% for one in wanted %}
    <a href="/wanted/show/{{ one.id }}">
        <img class="wanted-picture" alt="wanted person picture" src="/assets/images/{{ one.picture }}">
    </a>
{% endfor %}
    </div>
    <div>
        <form class="form-inline my-2 my-lg-0" method="post" action="/Search/show">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" class="form-control
                       {{ errors.search ? 'is-invalid' : '' }}"
                   aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

{% endblock %}