{% extends 'layout.html.twig' %}

{% block content %}

    {% include 'Home/_header.html.twig'%}

{% include 'Home/_carousel.html.twig' %}

    <div class="cards">
{% for one in wanted %}
    <a href="/">
        <img class="wanted-picture" alt="wanted person picture" src="/assets/images/{{ one.picture }}">
    </a>
{% endfor %}
    </div>

{% endblock %}