{% extends 'layout.html.twig' %}

 {% block title %}
     Wanted
 {% endblock %}

{% block content %}
    <div class="search-result-section">
    <h1 class="result-title">Wanted found: {{wantedFound|length }}</h1>
    <ul class="search-result">
        {% for wanted in wantedFound %}
            <li><a href="/wanted/show/{{ wanted.id }}"><img src="/assets/images/{{wanted.picture}}"
                                                            class="card-location" alt="image test"></a></li>

        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}