{% extends 'layout.html.twig' %}

{% block title %}
    <h1>wanted</h1>
{% endblock %}

{% block content %}
    <div>
        <img class="imgLuffy" src="https://media.discordapp.net/attachments/777856264415215627/778964321094860810/Luffy.jpg" width=400 heigth=auto alt="img Luffy">
        <span class="border-left-0"></span>
    </div>

{% endblock %}