{% extends 'layout.html.twig' %}

{% block title %}
    <h1>wanted</h1>
{% endblock %}

{% block content %}
    <h2 class="h2title"><i class="fab fa-galactic-republic star"></i>WANTED<i class="fab fa-galactic-republic star"></i></h2>
    <div>
        <img class="imgLuffy" src="/assets/images/Luffy.jpg" width=400 heigth=auto alt="img Luffy">
        <span class="border-left-0"></span>
    </div>
{% endblock %}