{% extends 'layout.html.twig' %}

{% block title %}
    Wanted
{% endblock %}

{% block content %}
    <div class="pictures">
        <div>
            <img class="imgLuffy" src="/assets/images/{{ wanted.picture }}" width=600 heigth=auto alt="{{ wanted.picture }}">
        </div>
        <div class="texte">
            <h2 class="profile">Profile</h2>
            <ul class="listprofil">
                <li>Devil's fruit: Gum-Gum Fruit</li>
                <li>Japanese Devil's fruit Name: Gomu Gomu no Mi</li>
                <li>Meaning: Rubber</li>
                <li>Type: Paramecia</li>
                <li>Height: 1m74</li>
                <li>Luffy famous for wearing his Straw Hat that the legendary pirate captain Shanks "the Redhead" gave him when he was young.
                    Luffy also has a scar with two stitches under his left eye, and fairly short black hair.
                    He wears short pants as well as sandals and a red sleeveless jacket. Looking a little skinny under his shirt, he still has a surprisingly well-built physique.
                    </li>

            </ul>
        </div>
    </div>
    <h2 class="form-title">When did you see this person for the last time ?</h2>
    <form class="city-form" method="post">
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
            <select name="city" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose a city</option>
                {% for city in cities %}
                <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
    </form>
    <div>
        {% include 'Component/_map.html.twig' %}
    </div>
{% endblock %}