@import "stylecarousel.css";

@font-face {
    font-family: 'western';
    src: url("../fonts/go-2-old-western/Go 2 Old Western.woff");
}
:root{
    --title-font: 'western';
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: saturate(50%);
}
/* HEADER START*/

.header-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url("https://images-ext-2.discordapp.net/external/8qPI5KNv-Pmvv3QgbjCVeUzagugnpppjrmvYopXLZBE/https/i.pinimg.com/originals/ab/c0/65/abc065d7552b0fba14b79fded32f5e46.png?width=517&height=458");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40em 35em;
}

.link-header:hover{
    text-decoration: none;
}

.logo{
    width: 10%;
    filter: sepia(100%);
}
.barbele {
    width: 100%;
}
/* HEADER END*/


/* HOME PAGE START*/

.carousel{
    width: 30%;
    height: 30%;
    display: flex;
    margin: 5em auto 8em auto;
    box-shadow: 15px 15px 12px black;
}

.cards{
    padding-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wanted-picture{
    margin: 1em;
    box-shadow: 15px 15px 12px black;
}
/* HOME PAGE END*/

/* wanted*/

.title{
    font-family: var(--title-font);
    text-align: center;
    font-size: 150px;
}

.star{
    font-size: 50px;
    margin: 2em;
}

.title, .star{
    padding: .2em .2em .2em .2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: 15px 15px 12px gray;
    color: black;
}

.imgLuffy{
    margin: 50px 0px 50px 100px;
    box-shadow: 15px 15px 12px black;
}

/*fin wanted */

